*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.5;
}
header.main-header{
padding: 0px;
transition: all 0.4s ease 0s;
height: 100px;
display: grid;
align-items: center;
z-index: 10;
border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}
.btn-primary:hover{
    background-color: #00732c;
}
.navbar-expand-lg .navbar-nav .nav-link{
    transition: all 0.5s ease;
    /* padding: 14px 0 10px; */
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
}
.hero-overlay{
background:#40404049;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
}
.title-small{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.title-big{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
/* .title-content{

} */
/* HEADER  */
.navbar .navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;

}
.CorpCarousel .carousel-inner .carousel-item{
    backdrop-filter: blur(15px);
}
.navbar .fa{
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}
.fa-search:before{
    content: "";
}
.navbar .logo{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}
/* .slick-arrow{
position: absolute;
right: 25px;
bottom: 50px;
font-size: 0;
background: white;
border: 0;
width: 50px;
height: 50px;
z-index: 12;
outline: none;
cursor: pointer;
border-radius: 100%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
border: 1px solid transparent;
} */
/* .banner-slider .slick-arrow:before{
font: normal normal normal 14px/1 FontAwesome;
font-size: 16px;
text-align: center;
line-height: 46px;
color:#3f3a64;
} */
.control .fa-search {
    color: #FFF;
    transition: opacity 0.3s cubic-bezier(0.51, 0.46, 0.58, 1);
}
.btn_search{
    display:inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #009f4d;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.control .btn-material{
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background:#009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}
.fa-close:before {
    content: "";
}
/* CAROUSEL  */
/* .carousel-control-prev{
    position: absolute;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */
.banner-wrap{
    height: auto;
    position: relative;
    overflow: hidden;
}
/* ABOUTUS  */
p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color:#7e7d7d;
    opacity: .8;
    font-family: 'Jost', sans-serif;
}
.fa-circle-check:before{
    content:;
}
/* .aboutus .about_content .service-list{
    list-style-type: disc;
} */
.service-list li a .fa{
    color:#009f4d;
    padding-right: 5px;
    opacity: .8;
}
.service-list li a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color:#404040;
    position: relative;
    text-decoration: none;
    
}
.service-list li{
    list-style: none;
}


/* WORK  */
.grids1{
    
    padding: 40px 30px;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}
.grids1:hover{
    transform: translateY(-0.25rem);
}
.grids1 h4 a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
}
.grids1 h4 a:hover{
    color: #009f4d;
    text-decoration: none;
}
/* GALLERY  */
#gallery .container .row .item:hover .overlay__hover,.hover-content{
overflow: hidden;
position: relative;
opacity: 1;
width: 100%;
/* padding-left: 15px;
padding-right: 15px; */
transform: translateY(0);
}
.hover-content{
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    transform: translateY(15px);
    color: #ffffff;
    z-index: 2;
}
.overlay__hover{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(15px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4040405b;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

/* SERVICES */
.services .container{
    display: flex;
    column-gap: 70px;
    margin: 0 auto ;
}
.services .container .card{
    border-color:#161421;
    max-width: 33%;
    position: relative;
    border-radius: 10px;

}
.services .card-body{
    width: 370px;
}
.services img{
    width: 370px;
    height: 250px;
}
.services .container a{
    position: relative;
    top: -20%;
    right: -15%;
    background-color: #161421;
    border-color: #7E7D7D;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    padding: 12px 35px;
    border-radius: 10px;
}
.services h3{
    color: #EEEEEE;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin: 55px auto;
}
.services .card .card-text{
    color: #7E7D7D;
}
.services .card .card-body{
    background-color:#161421;
}
.services a:hover{
    color: #009f4d;
    transition: all 0.5s;
}
.services h6{
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 5px;
}
.services h6:hover{
    color: #009f4d;
    transition: all 0.5s;
}
.services .card p{
    text-align: center;
    padding: auto 5px;
}

/* CORP-PROGRESS */

.corp-progress .container{
    display: flex;
    column-gap: 35px;
    padding: 70px auto;
    margin: 70px auto ;

}
.corp-progress .container__item img{ 
    width: 100%;
    border-radius: 10px;
}
.corp-progress .container .container__item{
    width: auto;
}
.corp-progress h3{ 
    color: #EEEEEE;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}
.corp-progress .progress__infor h6{
    color: #EEEEEE;
}
.corp-progress .container__item>span{
    color: #7E7D7D;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
}
.corp-progress .container__item .progress__infor {
    margin-top: 20px;
}
.progress__infor .progress

.corp-progress .container__item  .progress__infor #line1  progress .progress-bar {
    background-image: linear-gradient(-224deg, #114b5f, #61fded);

}
.corp-progress .container__item  .progress__infor #line2 .progress-bar2 {
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.corp-progress .container__item  .progress__infor #line3 .progress-bar3 {
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.corp-progress .container__item  .progress__infor #line4 .progress-bar4 {
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}
.corp-progress .container__item span{
    color: #EEEEEE;
}
.corp-progress .container__item  h6{
    display: inline;
}
/* FEEDBACK */
.feedback{
    background-color: #100F19;
    padding-top: 40px;

}
.feedback .feedback-title{
    text-align: center;
    padding-bottom: 70px;
}
.feedback .feedback-title>span{
    color:#7E7D7D ;
    font-size: 15px;
    font-weight: 600;
}
.feedback .feedback-title h3{
    color: #EEEEEE;
    font-weight: 600;
    padding-top: 18px;

}
#feedbackCaptions .carousel-item{
    height: 50vh;
    object-fit: cover;
}
#feedbackCaptions img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
#feedbackCaptions .img__item{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
#feedbackCaptions .img__item h6{
    font-weight: 600;
}
#feedbackCaptions .img__item .img__title{
    text-align: left;
    padding-bottom: 100px;
}
#feedbackCaptions .carousel-item p:first-child{
    color: #7E7D7D;
    padding: 30px 80px;
}
#feedbackCaptions .img__item .img__title p {
    color:#7E7D7D;
    font-size: 15px;
}
#feedbackCaptions ol li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #162141;
    transition: all 0.5s;
    margin: 6px;
}
#feedbackCaptions ol li:hover{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #223364;
}

/* BLOG */
.blog .blog-title{
    text-align: center;
    padding-bottom: 35px;
    padding-top: 30px;

}
.blog .blog-title>span{
    color:#7E7D7D ;
    font-size: 15px;
    font-weight: 600;
}
.blog .blog-title h3{
    color: #EEEEEE;
    font-weight: 600;
    padding-top: 18px;
}
.blog .blog-content{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.blog .blog-content .container .card{
    width: 370px;
}
.blog .blog-content:hover img{
}
.blog .card .card-body{
    background-color:#161421;
}
.blog .blog-content h5{
    font-size: 15px;
    color: #7E7D7D;
    font-weight: 500;
}
.blog .blog-content p{
    color: #EEEEEE;
    font-weight: 600;
    font-size: 20px;

}
.blog .blog-content .card-link:last-child{
    color:#7E7D7D;
}
.blog .blog-content .card-link:first-of-type{
    color:#EEEEEE;
    font-weight: 600;
}
/* SUBCRIBE */
footer{
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    
}
footer .subcribe>span{
    color: #EEEEEE;
    font-weight: 600;
    font-size: 20px;
}
.subcribe .container{
    padding-top: 120px;
    text-align: center;
}
.subcribe form {
    overflow: hidden;
    
    input {
      width: 5%;
      float: left;
      padding: 15px 20px;
      text-align: center;
      font-family: inherit;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      outline: 0;
      
      &[type=email] {
        margin-bottom: 15px;
        border: 1px solid lighten(gray, 50%);
        @include transition(all .4s);
        
        @media (min-width: 768px) {
          margin-bottom: 0px;
          width: 75%;
          border-right-width: 0px;
        }
        
        &:focus {
          border-color: $gray;
        }
      }
      
      &[type=submit] {
        background-color: green;
        color: white;
        border: 1px solid transparent;
        @include transition(all .4s);
        
        @media (min-width: 350px) {
          width: 25%;
        }
        
        &:hover {
          cursor: pointer;
          background-color: darken(purple);
          border-color: darken(purple);
        }
      }
    }
  }
  .subcribe form{
    width: 600px;
    text-align: center;
    margin: auto 250px;
    padding-top: 50px;
    border-radius: 20px;
  }
.subcribe h3{
    color: #EEEEEE;
    font-weight: 600;
}
.subcribe span{
    color: #EEEEEE;
    font-size: 15px;
    padding-bottom: 50px;
}
.footer__copyright .container{
    text-align: center;
    color: #7E7D7D;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* FOOTER */


 .footer__infor .container{
    display: flex;
    justify-content: space-around;
    color: #7E7D7D;
    margin: 50px auto;
}
.copyright__icon {
    padding-right: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #2b4c56;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
}
 .copyright__icon i:hover{
    background-color: white;
    transition: all 1.5s;
}
.footer__info i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-left: 25px;
    padding-top: 15px;
}
.footer__item ul li{
    list-style: none;
}
.footer__item{
    padding-right: 10px;
}

/* BACKTOTOP */
.backToTop{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background:#00a63f;
    font-weight: bold;
    color: #fff;    
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;

    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }



@keyframes arrowDown{
    from{
        opacity: 1;
        transform: translateY(0);
    }
    
    to{
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes arrowUpDown{
    0%{        
        transform: translateY(0) rotate(0);
    }
    50%{
        transform: translateY(40px) rotate(360deg);
    }
    100%{       
        transform: translateY(0) rotate(0);
    }
}
